<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.scuares.vrtest"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>VR JOSEP</name>

  <description>
      virtual reality experience.
  </description>

  <author href="https://www.scuares.com" email="info@scuares.com">
      Scuares
  </author>

  <icon src="icon.png" />

  <config-file platform="android" parent="/manifest" mode="merge">
  <meta - data android: name = "com. Picovr. Type" android: value = "vr"/>
</config-file>

  

</widget>